/* Reset CSS by Eric Meyer http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

body { font-family: 'Roboto', sans-serif; width: 100vw; height: 3000px; }

.container { width: 1880px; margin: 0 auto; }

p { font-family: 'Roboto', sans-serif; font-size: 16px; color: #262626; font-weight: 300; }

a { font-family: 'Roboto', sans-serif; font-size: 14px; color: #515151; font-weight: 300; text-decoration: none; }

h3 { font-family: 'Roboto', sans-serif; font-size: 22px; color: #262626; font-weight: 300; text-align: center; line-height: 28px; }

nav { background-color: #f8f8f8; height: 45px; background-size: 100%; position: relative; z-index: 0; }
nav ul { display: flex; justify-content: end; }
nav ul li { position: relative; margin-top: 14px; margin-right: 20px; }
nav ul li:first-of-type a { border: 1px solid; padding: 0 7px; border-radius: 12px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
nav ul li:last-child { position: relative; margin-top: 0px; margin-right: 0px; }
nav ul li:last-child div.link-socset { display: flex; justify-content: end; position: absolute; }
nav ul li:last-child div.link-socset a { margin-right: 13px; opacity: 0; padding: 5px 7px; position: relative; top: 10px; left: 16px; }
nav ul li:last-child div.link-socset a:nth-last-child(4) { margin-right: 0px; }

header { margin-bottom: 70px; }
header .logo { display: flex; }
header .logo img { margin-right: 13px; margin-top: 15px; }
header .logo h2 { margin-top: 19px; font-family: 'Comfortaa',cursive; font-size: 26px; margin-right: 392px; }

.info > ul { display: flex; }

.menu { position: relative; margin-top: 12px; height: 34px; width: 178px; border-radius: 5px; background-color: #f2f2f2; font-size: 20px; font-weight: 300; }
.menu > a { position: absolute; top: 6px; left: 42px; font-size: 20px; }
.menu > a::before { content: ''; background: url(../image/burger.png) no-repeat left; width: 18px; height: 15px; position: absolute; left: -29px; top: 3px; }

.sub-menu { position: absolute; top: 7px; padding-top: 27px; }
.sub-menu li { height: 34px; width: 178px; border: 1px solid black; border-radius: 5px; background-color: #f2f2f2; font-size: 15px; font-weight: 300; }

.sub-menu { display: none; }

.menu > a:hover + .sub-menu { display: block; }

form { position: relative; }

.serch input[type="text"] { position: relative; border-radius: 5px; background-color: #f2f2f2; border: none; width: 578px; height: 34px; margin-top: 12px; margin-left: 30px; }
.serch input[type="text"]::placeholder { position: relative; left: 25px; }

.serch input[type="submit"] { position: absolute; right: 20px; top: 20px; background: url(../image/lupa.png) no-repeat center; width: 18px; height: 18px; border: none; }

.telephone { margin-left: 54px; font-weight: 400; margin-top: 16px; margin-right: 48px; }
.telephone a { font-size: 22px; border-bottom: 1px solid black; }

.profile { align-self: center; margin-right: 56px; }
.profile p::before { content: '\f007'; font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands'; margin-right: 8.5px; font-size: 21px; }

.card { align-self: center; position: relative; margin-top: 6px; }
.card p::before { width: 25px; height: 25px; content: ''; background: url("../image/cart.png") no-repeat center; position: absolute; background-size: 25px 25px; right: 134px; bottom: -2px; }

.interim { margin-bottom: 60px; }

.benefit ul { display: flex; justify-content: space-around; }
.benefit ul img { margin-bottom: 25px; }
.benefit ul p { font-size: 20px; line-height: 27px; margin-left: -70px; }
.benefit ul p:hover { text-decoration: underline; text-decoration-line: 2px; text-decoration-color: #ffd801; text-underline-offset: 2px; }

menu { margin-bottom: 70px; display: flex; flex-wrap: wrap; }
menu p { font-family: 'Roboto Condensed', sans-serif; font-size: 30px; color: #545454; font-weight: 300; }
menu li { list-style: none; margin-bottom: 35px; position: relative; }
menu li a { font-family: 'Roboto Condensed', sans-serif; font-size: 30px; color: #262626; font-weight: 300; padding-left: 85px; padding-right: 30px; border-left: 1px solid #E8E8E8; position: relative; }
menu li:nth-of-type(2):hover > a { text-decoration: underline; text-decoration-line: 2px; text-decoration-color: #ffd801; text-underline-offset: 2px; }
menu li:nth-of-type(2):hover > a::before { content: ''; border: 1.5px solid #ffd801; border-radius: 50%; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(2) > a { border-left: none; }
menu li:nth-of-type(2) > a::before { content: ''; background: url("../image/syrgenary.png"); background-repeat: no-repeat; background-position: center; width: 40px; height: 40px; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(3):hover > a { text-decoration: underline; text-decoration-line: 2px; text-decoration-color: #ffd801; text-underline-offset: 2px; }
menu li:nth-of-type(3):hover > a::before { content: ''; border: 1.5px solid #ffd801; border-radius: 50%; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(3) > a::before { content: ''; background: url("../image/orto.png"); background-repeat: no-repeat; background-position: center; width: 40px; height: 40px; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(4):hover > a { text-decoration: underline; text-decoration-line: 2px; text-decoration-color: #ffd801; text-underline-offset: 2px; }
menu li:nth-of-type(4):hover > a::before { content: ''; border: 1.5px solid #ffd801; border-radius: 50%; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(4) > a::before { content: ''; background: url("../image/orto.png"); background-repeat: no-repeat; background-position: center; width: 40px; height: 40px; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(5):hover > a { text-decoration: underline; text-decoration-line: 2px; text-decoration-color: #ffd801; text-underline-offset: 2px; }
menu li:nth-of-type(5):hover > a::before { content: ''; border: 1.5px solid #ffd801; border-radius: 50%; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(5) > a::before { content: ''; background: url("../image/terapy.png"); background-repeat: no-repeat; background-position: center; width: 40px; height: 40px; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(6):hover > a { text-decoration: underline; text-decoration-line: 2px; text-decoration-color: #ffd801; text-underline-offset: 2px; }
menu li:nth-of-type(6):hover > a::before { content: ''; border: 1.5px solid #ffd801; border-radius: 50%; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(6) > a::before { content: ''; background: url("../image/ortoped.png"); background-repeat: no-repeat; background-position: center; width: 40px; height: 40px; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(7):hover > a { text-decoration: underline; text-decoration-line: 2px; text-decoration-color: #ffd801; text-underline-offset: 2px; }
menu li:nth-of-type(7):hover > a::before { content: ''; border: 1.5px solid #ffd801; border-radius: 50%; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(7) > a::before { content: ''; background: url("../image/box.png"); background-repeat: no-repeat; background-position: center; width: 40px; height: 40px; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(8):hover > a { text-decoration: underline; text-decoration-line: 2px; text-decoration-color: #ffd801; text-underline-offset: 2px; }
menu li:nth-of-type(8):hover > a::before { content: ''; border: 1.5px solid #ffd801; border-radius: 50%; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(8) > a { border-left: none; padding-left: 70px; }
menu li:nth-of-type(8) > a::before { content: ''; background: url("../image/total.png"); background-repeat: no-repeat; background-position: center; width: 40px; height: 40px; position: absolute; left: 28px; top: -2px; left: 0px; }
menu li:nth-of-type(9):hover > a { text-decoration: underline; text-decoration-line: 2px; text-decoration-color: #ffd801; text-underline-offset: 2px; }
menu li:nth-of-type(9):hover > a::before { content: ''; border: 1.5px solid #ffd801; border-radius: 50%; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(9) > a::before { content: ''; background: url("../image/syringe.png"); background-repeat: no-repeat; background-position: center; width: 40px; height: 40px; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(10):hover > a { text-decoration: underline; text-decoration-line: 2px; text-decoration-color: #ffd801; text-underline-offset: 2px; }
menu li:nth-of-type(10):hover > a::before { content: ''; border: 1.5px solid #ffd801; border-radius: 50%; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(10) > a::before { content: ''; background: url("../image/pin.png"); background-repeat: no-repeat; background-position: center; width: 40px; height: 40px; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(11):hover > a { text-decoration: underline; text-decoration-line: 2px; text-decoration-color: #ffd801; text-underline-offset: 2px; }
menu li:nth-of-type(11):hover > a::before { content: ''; border: 1.5px solid #ffd801; border-radius: 50%; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(11) > a::before { content: ''; background: url("../image/expendable.png"); background-repeat: no-repeat; background-position: center; width: 40px; height: 40px; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(12):hover > a { text-decoration: underline; text-decoration-line: 2px; text-decoration-color: #ffd801; text-underline-offset: 2px; }
menu li:nth-of-type(12):hover > a::before { content: ''; border: 1.5px solid #ffd801; border-radius: 50%; position: absolute; left: 28px; top: -2px; }
menu li:nth-of-type(12) > a::before { content: ''; background: url("../image/accessories.png"); background-repeat: no-repeat; background-position: center; width: 40px; height: 40px; position: absolute; left: 28px; top: -2px; }
menu li button { font-family: 'Roboto Condensed', sans-serif; font-size: 20px; color: #262626; font-weight: 300; height: 40px; width: 142px; border-radius: 3px; border: 1px solid #e8e8e8; background: #FFFFFF; position: absolute; bottom: -7px; }
menu li button:hover { background-color: #ffd801; transition: .5s; }
menu li button:hover:active { background-color: #edcb0d; transition: .2s; }

section { position: relative; }
section h1 { font-family: 'Roboto', sans-serif; font-size: 40px; color: #262626; font-weight: 100; margin-bottom: 67px; }
section h1::before { content: ''; position: absolute; width: 138px; height: 5px; background-color: #ffd801; top: 46px; }
section .product ul { display: flex; flex-wrap: wrap; column-gap: 29px; row-gap: 78px; }
section .product ul li { position: relative; padding: 23px 13px; height: 635px; width: 448px; border-radius: 3px; border: 1px solid #e9e9e9; }
section .product ul li .NiTi { position: absolute; bottom: 19px; left: 13px; height: 23px; width: 80px; border-radius: 2px; background: #FFD801; display: flex; justify-content: center; align-items: center; }
section .product ul li .NiTi p { font-family: 'Roboto', sans-serif; font-size: 13px; color: black; font-weight: 500; }
section .product ul li h3 { margin-bottom: 19px; }
section .product ul li .price-cart { display: grid; grid-template-columns: 173px 1fr; grid-template-rows: 20px 20px; grid-column-gap: 26px; margin-bottom: 14px; }
section .product ul li .price-cart .price { grid-column: 1; grid-row: 1/3; justify-self: end; }
section .product ul li .price-cart .price p:nth-child(1) { font-family: 'Roboto', sans-serif; font-size: 20px; color: #FFD801; font-weight: 300; color: #FFD801; text-decoration: solid; text-decoration-line: line-through; }
section .product ul li .price-cart .price p:nth-child(2) { font-family: 'Roboto', sans-serif; font-size: 20px; color: 0, 0, 0, 1; font-weight: 400; }
section .product ul li .price-cart .buy { grid-column: 2; grid-row: 1/3; }
section .product ul li .price-cart .buy button { margin-top: 2px; height: 34px; width: 155px; border-radius: 5px; border: 2px solid #ffd801; background-color: white; font-family: 'Roboto', sans-serif; font-size: 17px; color: black; font-weight: 300; }
section .product ul li .price-cart .buy button i { font-size: 17px; padding-right: 8.8px; }
section .product ul li .price-cart .buy button:active { transform: scale(90%); transition: .2s; }
section .product ul li .product_card { position: relative; border: 1px solid red; margin: 0 auto; height: 422px; width: 422px; background: url(../image/stom_product.png); }
section .product ul li .product_card input[type=radio] { display: none; }
section .product ul li .product_card input[type=radio]:checked + label:before { background: #ffd801; transition: .5s; }
section .product ul li .product_card label { position: relative; cursor: pointer; z-index: 1; font-family: 'Roboto', sans-serif; font-size: 11px; color: #262626; font-weight: 400; text-transform: uppercase; align-items: center; padding-left: 29px; height: 22.6px; }
section .product ul li .product_card label:before { content: ''; position: absolute; height: 22.6px; width: 103.6px; background: #F2F2F2; border-radius: 3px; z-index: -1; left: 0px; }
section .product ul li .product_card label span.radio_word_curved { position: absolute; top: 2px; left: 18.7px; }
section .product ul li .product_card label span.radio_word_straight { position: absolute; top: 2.66px; left: 29px; }
section .product ul li .product_card .forma_2 { margin-top: 9.77px; }
section .product ul li .product_card .forma_3 { position: relative; margin-top: 18px; }
section .product ul li .product_card .forma_3 label:before { height: 22.6px; width: 134.7px; }
section .product ul li .product_card .forma_3 label .gravirovka_ok { position: relative; left: -12px; top: 3px; }
section .product ul li .product_card .forma_3 input[type=checkbox] { position: absolute; left: 0px; z-index: 2; top: 3px; }
section .product ul li .product_card .video_review { position: absolute; bottom: 0px; right: 0px; margin-bottom: 9.6px; }
section .product ul li .product_card .video_review p { height: 32px; width: 49px; }

/*# sourceMappingURL=style.css.map */
