@import "nullstyle.scss";

@mixin Robo300($font-size: 16px, $color: $black, $font-weight: 300) {
  font-family: "Roboto", sans-serif;
  font-size: $font-size;
  color: $color;
  font-weight: $font-weight;
}
@mixin Robo_Con($font-size: 30px, $color: $black, $font-weight: 300) {
  font-family: "Roboto Condensed", sans-serif;
  font-size: $font-size;
  color: $color;
  font-weight: $font-weight;
}
@mixin hoverUnderli {
  text-decoration: underline;
  text-decoration-line: 2px;
  text-decoration-color: $yellow;
  text-underline-offset: 2px;
}

@mixin hoverNav {
  border: 1px solid rgba(38, 38, 38, 0.5);
  border-radius: 12px;
  transition: 0.3s;
}

@mixin imgCatalog($background: url()) {
  content: "";
  background: $background;
  background-repeat: no-repeat;
  background-position: left;
  border: 1.5px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  position: absolute;
  left: 0px;
  top: 0px;
}

@mixin imgHover {
  content: "";
  border: 1.5px solid $yellow;
  border-radius: 50%;
  position: absolute;
  left: 28px;
  top: -2px;
}
@mixin imgCircle($background: url("../image/box.png")) {
  content: "";
  background: $background;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 18px;
  top: -2px;
}
@mixin imgBackgr($backgr: url('../image/1.png'))
{ background: $backgr;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
}

$yellow: #ffd801;
$black: rgba(38, 38, 38, 1);

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 3000px;
}

.container {
  width: 1880px;
  margin: 0 auto;
}

p {
  @include Robo300;
}
a {
  @include Robo300(31px, rgba(81, 81, 81, 1));
  text-decoration: none;
}
h3 {
  @include Robo300(22px, $black);
  text-align: center;
  line-height: 28px;
}

h5 {
  @include Robo300(30px, $black, 300);
}
h6 {
  @include Robo300(40px, $black, 300);
}
.phone-button {
  position: fixed;
  right: 0px;
  bottom: 20px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 2;
  background-color: #ffd801;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-phone'%3e%3cpath d='M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z'%3e%3c/path%3e%3c/svg%3e");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.7;
}
.phone-button:before,
.phone-button:after {
  content: " ";
  display: block;
  position: absolute;
  border: 50%;
  border: 1px solid #ffd801;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: border-animate 1.5s linear infinite;
  opacity: 0;
}
.phone-button:after {
  animation-delay: 0.5s;
}
@keyframes border-animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
// NAV

nav {
  background-color: rgba(248, 248, 248, 1);
  height: 45px;
  background-size: 100%;
  position: relative;
  z-index: 0;
  .logo--nav{display: none;}
  ul {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 45px;
    li {
      position: relative;
      margin-right: 20px;
      &:first-of-type a:hover {
        @include hoverNav;
      }
      &:nth-child(2) a:hover {
        @include hoverNav;
      }
      &:nth-child(3) a:hover {
        @include hoverNav;
      }
      &:nth-child(4) a:hover {
        @include hoverNav;
      }
      &:nth-child(5) a:hover {
        @include hoverNav;
      }
      &:last-child {
        position: relative;
        margin-top: 0px;
        margin-right: 0px;
      }
      a {
        @include Robo300(16px, rgba(81, 81, 81, 1), 300);
        margin-left: 10px;
        border: 1px solid transparent;
        padding: 1px 7px;
      }
    }
  }
}
div.link-socset {
  a {
    padding: 0px;
    margin-left: 0px;
  }
  i {
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: rgb(218, 217, 217);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    &:hover {
      background-color: $yellow;
    }
    &:nth-last-child(4) {
      margin-right: 0px;
    }
  }
}
//  Header/Верхняя панель
header {
  height: 76px;
  .logo {
    display: flex;
    img {
      margin-right: 13px;
      margin-top: 15px;
    }
    h1 {
      margin-top: 19px;
      font-family: "Comfortaa", cursive;
      font-size: 26px;
      margin-right: 392px;
    }
  }
}
.info > ul {
  display: flex;
}
.menu {
  position: relative;
  margin-top: 12px;
  height: 34px;
  width: 178px;
  border-radius: 5px;
  background-color: rgba(242, 242, 242, 1);
  font-size: 20px;
  font-weight: 300;
  > a {
    position: absolute;
    top: -3px;
    left: 42px;
    font-size: 20px;
    &::before {
      content: "";
      background: url(../image/burger.png) no-repeat left;
      width: 18px;
      height: 15px;
      position: absolute;
      left: -29px;
      top: 12px;
    }
  }
}
.sub-menu {
  opacity: 0;
}
.menu:hover > .sub-menu {
  opacity: 1;
  transition: 0.5s;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 18px 13px 8px -4px rgba(34, 60, 80, 0.2);
  border: 1px solid #ddd;
  li {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 34px;
    width: 300px;
    background-color: white;
    padding: 0px 5px;
    font-size: 12px;
    font-weight: 300;
  }
  a {
    font-size: 16px;
  }
}

.search {
  form {
    position: relative;
    i {
      font-size: 18px;
      position: absolute;
      top: 22px;
      right: 17px;
    }
  }
  input[type="text"] {
    position: relative;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    width: 578px;
    height: 34px;
    margin-top: 12px;
    margin-left: 30px;
    &::placeholder {
      position: relative;
      left: 25px;
    }
  }
  input[type="submit"] {
    position: absolute;
    right: 0px;
    top: 8px;
    width: 0px;
    height: 33px;
    opacity: 0;
    padding: 21px;
   &:hover +i  {
      color: $yellow;
    }
  }
  .fa-magnifying-glass:hover{color: $yellow;}

}
.telephone {
  margin-left: 54px;
  font-weight: 400;
  margin-top: 16px;
  margin-right: 48px;
  a {
    font-size: 22px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    &:hover {
      color: $yellow;
      transition: .2s;
    }
  }
}
.profile {
  align-self: center;
  margin-right: 56px;
  span:nth-of-type(2) {
    @include Robo300;
    &:hover {
      color: $yellow;
      cursor: pointer;
      transition: .2s;
    }
  }

  span:nth-of-type(1):before {
    content: "\f007";
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
    margin-right: 8.5px;
    font-size: 21px;
    font-weight: 200;
  }
}
.card {
  align-self: center;
  position: relative;
  margin-top: 6px;
  p:hover {
    color: $yellow;
  }
  p::before {
    width: 25px;
    height: 25px;
    content: "";
    background: url("../image/cart.png") no-repeat center;
    position: absolute;
    background-size: 25px 25px;
    right: 134px;
    bottom: -2px;
  }
}

// Картинки  перед меню
.interim {
  margin-bottom: 34px;
  margin-top: 34px;
}
.benefit ul {
  display: flex;
  justify-content: space-around;
  img {
    margin-bottom: 25px;
  }
  p {
    font-size: 20px;
    line-height: 27px;
    margin-left: -70px;

    &:hover {
      @include hoverUnderli;
    }
  }
}
// Категориии
menu {
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  p {
    @include Robo_Con(30px, rgba(84, 84, 84, 1));
  }
  li {
    list-style: none;
    margin-bottom: 35px;
    position: relative;
  
    a {
      @include Robo_Con;
      padding-left: 85px;
      padding-right: 30px;
      border-left: 1px solid #e8e8e8;
      position: relative;
    }
    &:nth-of-type(2) {
      &:hover > a {
        @include hoverUnderli;
        &::before {
          @include imgHover;
        }
      }
      & > a {
        border-left: none;
      }
    }
    &:nth-of-type(2) > a::before {
      @include imgCircle(url("../image/syrgenary.png"));
      border: 1.5px solid transparent;
      border-radius: 50%;
      box-sizing: border-box;
    }
    &:nth-of-type(3) {
      &:hover > a {
        @include hoverUnderli;
        &::before {
          @include imgHover;
        }
      }
    }
    &:nth-of-type(3) > a::before {
      @include imgCircle(url("../image/orto.png"));
      border: 1.5px solid transparent;
      border-radius: 50%;
      box-sizing: border-box;
    }
    &:nth-of-type(4) {
      &:hover > a {
        @include hoverUnderli;
        &::before {
          @include imgHover;
        }
      }
    }
    &:nth-of-type(4) > a::before {
      @include imgCircle(url("../image/orto.png"));
      border: 1.5px solid transparent;
      border-radius: 50%;
      box-sizing: border-box;
    }
    &:nth-of-type(5) {
      &:hover > a {
        @include hoverUnderli;
        &::before {
          @include imgHover;
        }
      }
    }
    &:nth-of-type(5) > a::before {
      @include imgCircle(url("../image/terapy.png"));
      border: 1.5px solid transparent;
      border-radius: 50%;
      box-sizing: border-box;
    }
    &:nth-of-type(6) {
      &:hover > a {
        @include hoverUnderli;
        &::before {
          @include imgHover;
        }
      }
    }
    &:nth-of-type(6) > a::before {
      @include imgCircle(url("../image/ortoped.png"));
      border: 1.5px solid transparent;
      border-radius: 50%;
      box-sizing: border-box;
    }
    &:nth-of-type(7) {
      &:hover > a {
        @include hoverUnderli;
        &::before {
          @include imgHover;
        }
      }
    }
    &:nth-of-type(7) > a::before {
      @include imgCircle;
      border: 1.5px solid transparent;
      border-radius: 50%;
      box-sizing: border-box;
    }
    &:nth-of-type(8) {
      &:hover > a {
        @include hoverUnderli;
        &::before {
          @include imgHover;
          top: -4px;
          left: 0px;
        }
      }
      & > a {
        border-left: none;
        padding-left: 57px;
      }
    }
    &:nth-of-type(8) > a::before {
      @include imgCircle(url("../image/total.png"));
      border: 1.5px solid transparent;
      border-radius: 50%;
      box-sizing: border-box;
      top: -4px;
      left: 0px;
    }
    &:nth-of-type(9) {
      &:hover > a {
        @include hoverUnderli;
        &::before {
          @include imgHover;
        }
      }
    }
    &:nth-of-type(9) > a::before {
      @include imgCircle(url("../image/syringe.png"));
      border: 1.5px solid transparent;
      border-radius: 50%;
      box-sizing: border-box;
    }
    &:nth-of-type(10) {
      &:hover > a {
        @include hoverUnderli;
        &::before {
          @include imgHover;
        }
      }
    }
    &:nth-of-type(10) > a::before {
      @include imgCircle(url("../image/pin.png"));
      border: 1.5px solid transparent;
      border-radius: 50%;
      box-sizing: border-box;
    }
    &:nth-of-type(11) {
      &:hover > a {
        @include hoverUnderli;
        &::before {
          @include imgHover;
        }
      }
    }
    &:nth-of-type(11) > a::before {
      @include imgCircle(url("../image/expendable.png"));
      border: 1.5px solid transparent;
      border-radius: 50%;
      box-sizing: border-box;
    }
    &:nth-of-type(12) {
      &:hover > a {
        @include hoverUnderli;
        &::before {
          @include imgHover;
        }
      }
    }
    &:nth-of-type(12) > a::before {
      @include imgCircle(url("../image/accessories.png"));
      border: 1.5px solid transparent;
      border-radius: 50%;
      box-sizing: border-box;
    }
    button {
      @include Robo_Con(20px);
      height: 40px;
      width: 142px;
      border-radius: 3px;
      border: 1px solid rgba(232, 232, 232, 1);
      background: #ffffff;
      &:hover {
        background-color: $yellow;
        transition: 0.5s;
        &:active {
          background-color: rgb(237, 203, 13);
          transition: 0.2s;
        }
      }
    }
  }
}
// Популярные наборы (карочки товаров)
section {
  position: relative;
  margin-bottom: 160px;
  h2 {
    @include Robo300(40px, $black, 100);
    margin-bottom: 67px;
    &::before {
      content: "";
      position: absolute;
      width: 138px;
      height: 5px;
      background-color: $yellow;
      top: 46px;
    }
  }
  .product {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, 448px);
      grid-template-rows: repeat(2, 635px);
      grid-column-gap: 29px;
      grid-row-gap: 78px;
      li {
        position: relative;
        padding: 23px 13px;
        border-radius: 3px;
        border: 1px solid rgba(233, 233, 233, 1);

        .NiTi {
          position: absolute;
          bottom: 19px;
          left: 13px;
          height: 23px;
          width: 80px;
          border-radius: 2px;
          background: #ffd801;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            @include Robo300(13px, rgba(0, 0, 0, 1), 500);
          }
        }
        .name--product{height: 65px;}
        h3 {
          position: relative;
          margin-bottom: 19px;
          z-index: -1;
          &:hover {
            text-decoration: underline;
            text-decoration-line: 2px;
            text-decoration-color: $black;
            text-underline-offset: 2p;
          }
        }
        .price-cart {
          display: grid;
          grid-template-columns: 173px 1fr;
          grid-template-rows: 20px;
          grid-column-gap: 26px;

          .price {
            display: grid;
            grid-template-rows: 20px 20px;
            justify-content: center;

            p {
              &:nth-child(1) {
                @include Robo300(20px, #ffd801, 300);
                color: #ffd801;
                text-decoration: solid;
                text-decoration-line: line-through;
              }
              &:nth-child(2) {
                @include Robo300(20px, (0, 0, 0, 1), 400);
              }
            }
          }
          .buy {
            grid-column: 2;
            grid-row: 1/3;
            button {
              position: relative;
              margin-top: 2px;
              height: 34px;
              width: 155px;
              border-radius: 5px;
              border: 2px solid $yellow;
              background-color: rgba(255, 255, 255, 1);

              @include Robo300(17px, rgba(0, 0, 0, 1));
              i {
                font-size: 17px;
                padding-right: 8.8px;
              }
              &:hover {
                background-color: $yellow;
                transition: 0.3s;
                &:active {
                  transform: scale(90%);
                  transition: 0.2s;
                }
              }
            }
          }
        }
        .product_card1 {
          position: absolute;
          top: 152px;
          margin: 0 auto;
          height: 422px;
          width: 422px;
          z-index: 0;
         .img{ @include imgBackgr();
          background-size: 100%;

      }
          }
        }
        .video_review {
          position: absolute;
          bottom:-25px;
          right: 16px;
          margin-bottom: 9.6px;
          a {
            width:52px;
            display:flex;
            flex-direction:column;
            text-align:center;
            span{
              word-wrap:break-word;
              line-height: 20px;
            }
            }
        }

        iframe {
          display: none;
        }
        iframe:target {
          display: block;
        }
        .modal:target:before {
          display: block;
        }
        form {
          position: absolute;
          top: 0px;
          left: 0px;
          input[type="radio"] {
            display: none;
            &:checked + label:before {
              background: $yellow;
              transition: 0.5s;
            }
          }
          .forma_1 {
            label {
              position: absolute;
              top: 0px;
              cursor: pointer;
              z-index: 1;
              @include Robo300(11px, $black, 400);
              text-transform: uppercase;
              align-items: center;
              padding-left: 29px;
              height: 22.6px;
              span.radio_word_straight {
                position: absolute;
                top: 5.66px;
                left: 29px;
              }
              &:before {
                content: "";
                position: absolute;
                height: 22.6px;
                width: 103.6px;
                background: #f2f2f2;
                border-radius: 3px;
                z-index: -1;
                left: 0px;
              }
            }
          }
          .forma_2 {
            label {
              position: absolute;
              top: 25px;
              cursor: pointer;
              z-index: 1;
              @include Robo300(11px, $black, 400);
              text-transform: uppercase;
              align-items: center;
              padding-left: 29px;
              height: 22.6px;
              span.radio_word_curved {
                position: absolute;
                top: 6px;
                left: 18.7px;
              }
              &:before {
                content: "";
                position: absolute;
                height: 22.6px;
                width: 103.6px;
                background: #f2f2f2;
                border-radius: 3px;
                z-index: -1;
                left: 0px;
              }
            }
          }
          .forma_3 {
            label {
              position: absolute;
              top: 56px;
              cursor: pointer;
              z-index: 1;
              @include Robo300(11px, $black, 400);
              text-transform: uppercase;
              align-items: center;
              padding-left: 29px;
              height: 22.6px;
              &:before {
                content: "";
                position: absolute;
                height: 22.6px;
                width: 134.7px;
                background: #f2f2f2;
                border-radius: 3px;
                z-index: -1;
                left: 0px;
                top: 0px;
              }
              span {
                position: absolute;
                top: 7px;
                left: 18px;
                white-space: nowrap;
              }
            }
          }
          input[type="checkbox"] {
            position: absolute;
            left: 0px;
            z-index: 2;
            top: 58px;
          }
        }

        //  _____________
        .product_card2 {
          position: absolute;
          top: 152px;
          margin: 0 auto;
          height: 422px;
          width: 422px;
          z-index: 0;
          .img{ @include imgBackgr(url('../image/2.png'));
            background-size: 100%;
          }
        
        }
        .product_card3 {
          position: absolute;
          top: 152px;
          margin: 0 auto;
          height: 422px;
          width: 422px;
          z-index: 0;
          .img{ @include imgBackgr(url('../image/3.png'));
            background-size: 100%;

          }
        }
        .product_card4 {
          position: absolute;
          top: 152px;
          margin: 0 auto;
          height: 422px;
          width: 422px;
          z-index: 0;
          .img{ @include imgBackgr(url('../image/4.png'));
            background-size: 100%;

          }
        }
        .product_card5 {
          position: absolute;
          top: 152px;
          margin: 0 auto;
          height: 422px;
          width: 422px;
          z-index: 0;
          .img{ @include imgBackgr(url('../image/1.png'));
            background-size: 100%;

          }
        }
        .product_card6 {
          position: absolute;
          top: 152px;
          margin: 0 auto;
          height: 422px;
          width: 422px;
          z-index: 0;
          .img{ @include imgBackgr(url('../image/4.png'));
            background-size: 100%;

          }
        }
        .product_card7 {
          position: absolute;
          top: 152px;
          margin: 0 auto;
          height: 422px;
          width: 422px;
          z-index: 0;
          .img{ @include imgBackgr(url('../image/2.png'));
            background-size: 100%;

          }
        }
        .product_card8 {
          position: absolute;
          top: 152px;
          margin: 0 auto;
          height: 422px;
          width: 422px;
          z-index: 0;
          .img{ @include imgBackgr(url('../image/3.png'));
            background-size: 100%;

          }
        }
      }
    }
  }
  .catalog {
    width: 350px;
    height: 60px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    button {
      cursor: pointer;
      position: relative;
      @include Robo300(20px, $black, 300);
      text-align: center;
      border: none;
      background-color: transparent;

      &::before {
        content: "";
        position: absolute;
        right: -84px;
        top: -18px;
        width: 350px;
        height: 60px;
        background: #ffffff;
        border: 1px solid $yellow;
        border-radius: 5px;
        z-index: -1;
      }
    }
    &:hover > button::before {
      background: $yellow;
      transition: 0.2s;
    }
  }

//  Отзывы сотрудников
.staff {margin-bottom: 180px;
  margin-top: 100px;
  
  ul {
    display: grid;
    grid-template-columns: repeat(4, 430px);
    grid-column-gap: 44px;
    align-items: start;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     .review1 {
        display:block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .review2 {
        display:block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      h4 {
        @include Robo300(20px, $black, 400);
        line-height: 23px;
        margin-top: 15px;
      }
      .review--text {
        padding-top: 10px;
        @include Robo300(18px, $black, 300);
        line-height: 161.19%;
      }
      img {
        margin-bottom: 8px;
      }
      .name {
        padding-bottom: 5px;
        @include Robo300(20px, $black, 400);
      }
      .specializing {
        padding-bottom: 10px;
        @include Robo300(16px, $black, 300);
      }
      .insta {
        position: relative;
        @include Robo300(18px, $black, 300);
        &::before {
          content: "";
          background: url(../image/inst.png) no-repeat center;
          position: absolute;
          width: 24px;
          height: 24px;
          left: -30px;
          top: 9px;
        }
      }
     }
  }
}
// О компании
section.text-about {
    margin: 0 auto;
    max-width: 1193.58px;
    margin-top: 125px;
    h2 {
      margin-bottom: 40px;
    }
  p {
    @include Robo300(20px, $black, 300);
    margin-bottom: 7px;
    line-height: 28px;
    &.gap {
      margin-bottom: 15px;
    }
  }
  span {
    font-weight: 400;
    @include Robo300(20px$black, 400);
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    li {
      margin-bottom: 8px;
      padding-left: 8px;
      font-weight: 300;
      @include Robo300(20px, $black, 300);
      
    }
  }
}

//  Подвал
footer {margin-top: 200px;
  display: flex;
  justify-content: space-around;}
  
  h5 {
    margin-bottom: 27px;
  }
  .variety--footer {margin-right: 50px;
  ul {
    display: grid;
    grid-template-columns: repeat(2, 392px);
    grid-column-gap: 48px;
    grid-template-rows: 456px;
    
    li{
    align-items: start
    }
     }}
     .repeat--header ul li{ align-items: start}
  
  li a {
    @include Robo300(18px, $black, 300);
    line-height: 38px;
  }
  .link-socset i {
    font-size: 16px;
    &:hover {
      background-color: rgb(218, 217, 217);
    }
  }
  .repeat--telephone {
    margin-top: 25px;
    a {
      @include Robo300(22px, $black, 500);
      border-bottom: 1px solid black;
    }
  }


// Акции
.sale {
  h6 {
    margin-top: 60px;
    margin-left: 30px;
  }
  p {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
    border-bottom: $yellow 2px solid;
    width: 397px;
  }
}
// Посещенные сраницы
.visit {
  ul {
    display: flex;
    justify-content: start;
    a {
      @include Robo300(14px, $black, 300);
      padding-right: 24px;
      text-decoration: underline;
    }
    li:first-of-type,
    .dash {
      position: relative;
      a:after {
        content: "\2014";
        position: absolute;
        width: 13px;
        top: 3px;
        right: 4px;
      }
    }
  }
}

// Статьи
.article {
  margin-top: 50px;
  margin-bottom: 100px;
  .med-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 60px;
    margin-top: 30px ;
    li {
      &:nth-of-type(2n + 3) > p {
        margin-bottom: 45px;
      }
      img {
        height: 321px;
        vertical-align: 15px;
      }
      p {
        margin-bottom: 20px;
        a {
          @include Robo300(19px, $black, 500);
          line-height: 25px;
        }
      }
      .details {
        @include Robo300(16px, $black, 400);
        background-color: #eee;
        padding: 7px 16px 7px 18px;
        i {
          padding: 5px;
          color: #b8b5b5;
        }
        &:hover{
          background-color:#d3d3d3;
          transition: 0.3s;
        }
        &:hover > i {
          transform: translateX(4px);
          transition: 0.5s;
        }
      }
    }
  }
}
.pagination-bar {
  display: flex;
  justify-content: center;
  gap: 25px;
  a {
    font-size: 16px;
    &:hover {
      font-weight: 500;
    }
  }
}

// Полная статья

.total--article { margin-top: 30px;
  .article--img{ float: right;
    line-height: 10px;
    margin: 0px 40px;
    width: 300px;
    height: 300px;}
  
  img {width: 300px;
    height: 300px;}
  

  h5 {
    margin: 0px 0px 17px 10px;
    font-weight: 300;
  }
  .text--article {
    p {
      margin: 0 10px 20px;
      font-weight: 400;
    }
  }
}
.comment--article {
  margin-left: 10px;
  height: 20px;
  width: 86px;
  border: 1px solid $yellow;
  border-radius: 5px;
  &:hover {
    background-color: $yellow;
  }
  a {
    padding: 10px;
    font-size: 10px;
  }
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  opacity: 0;
  pointer-events: none;
  &:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal-dialog {
    position: relative;
    width: 400px;
    margin: 20px auto;
  }
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    h3 {
      margin-left: 10px;
      font-size: 18px;
    }
  }
  .modal-body {
    p {
      margin: 10px 0px 3px 10px;
      font-size: 10px;
    }
    input[type="email"] {
      width: 200px;
    }
    input,
    textarea {
      margin-left: 5px;
    }
    textarea {
      width: 100%;
      box-sizing: border-box;
      max-width: 350px;
    }
    input[type="submit"] {
      margin: 10px;
      font-size: 10px;
    }
  }
  .close {
    float: right;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    text-decoration: none;
    margin-right: 10px;
  }
  .close:focus,
  .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.75;
  }
}
// Аккадреон
.accordeonWrapper {
  background: rgb(255, 255, 255);
  margin-bottom: 50px;
  width: 300px;
}
.elemAccordeon {
  margin: 10px 0;
}
.headingElem {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  @include Robo300(16px, $black, 500);
  span {
    &::before {
      content: "\276F";
      padding-left: 10px;
    }
  }
  &:hover {
    background: rgba(241, 241, 241, 1);
    cursor: pointer;
  }
}
.headingElem.active {
  background: rgba(241, 241, 241, 1);
}
.descElem {
  display: none;
  padding: 20px 10px 0px 10px;
  li {
    position: relative;
    margin-bottom: 50px;
    &:hover > a {
      @include hoverUnderli();
    }
    &:nth-of-type(1) > a::before {
      @include imgCatalog(url("../image/syrgenary.png"));
    }
    &:nth-of-type(2) > a::before {
      @include imgCatalog(url("../image/accessories.png"));
    }
    &:nth-of-type(3) > a::before {
      @include imgCatalog(url("../image/terapy.png"));
    }
    &:nth-of-type(4) > a::before {
      @include imgCatalog(url("../image/ortoped.png"));
    }
    &:nth-of-type(5) > a::before {
      @include imgCatalog(url("../image/accessories.png"));
    }
    &:nth-of-type(6) > a::before {
      @include imgCatalog(url("../image/ortoped.png"));
    }
    &:hover > a::before {
      content: "";
      border: 1.5px solid $yellow;
      border-radius: 50%;
      position: absolute;
      width: 42px;
      height: 42px;
    }
    a {
      padding-left: 50px;
      @include Robo300(16px, rgba(56, 56, 56, 1), 300);
    }
  }
}
.descElem.active {
  display: block;
  overflow: initial;
}

//описание товара
.product--description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 57px;
}
.top--description {
  display: flex;
  .title--description {
    margin-left: 30px;
    h5 {
      font-weight: 600;
      margin: 10px 0px 30px;
    }
    p {
      @include Robo300(16px, $black, 600);
      span {
        color: $yellow;
      }
    }
    .price {
      margin-top: 30px;
      .sale {
        font-size: 15px;
        font-weight: 300;
        text-decoration: line-through;
      }
      .price-number {
        font-size: 30px;
        margin-top: 5px;
      }
    }
  }
  .buy {
    margin-top: 50px;
    button {
      padding: 0px 25px;
      position: relative;
      margin-top: 2px;
      height: 50px;
      width: max-content;
      background-color: $yellow;
      border: none;
      @include Robo300(17px, rgba(0, 0, 0, 1));
      i {
        font-size: 17px;
        padding-right: 8.8px;
      }
      &:hover {
        transition: 0.3s;
        &:active {
          transform: scale(90%);
          transition: 0.2s;
        }
      }
    }
  }
}
.img--product {
  position: relative;
  margin-left: 30px;
}
.mySlides {
  display: none;
  border: 1px solid rgba(233, 233, 233, 1);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  border: 1px solid rgba(233, 233, 233, 1);
  float: left;
  width: 16.66%;
}
.demo {
  opacity: 0.6;
 
}
.active,
.demo:hover {
  opacity: 1;
}
#counter {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin-top: 40px;
}
#buttonCountMinus,
#buttonCountPlus {
  width: 26px;
  height: 40px;
  background-color: #999;
  border: 1px solid #cccccc;
  font-size: 16px;
  font-weight: 600;
  color: #4e4d4d;
  &:hover {
    background-color: #cccccc;
    transition: 0.1s;
  }
  &:active {
    transform: scale(95%);
    transition: 0.1s;
  }
}
#buttonCountMinus {
  border-right: none;
  border-radius: 4px 0px 0px 4px;
}
#buttonCountPlus {
  border-left: none;
  border-radius: 0px 4px 4px 0px;
}

#buttonCountNumber {
  box-sizing: border-box;
  height: 40px;
  width: 60px;
  border: 1px solid #cccccc;
  text-align: center;
  padding-top: 12px;
  margin: 0px 2px;
}
// -----------------------TABs
.tabs--description {
  margin: 50px 0px 0px 283px;
  [data-tab-content] {
    display: none;
  }

  .active[data-tab-content] {
    display: block;
  }

  .tabs {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin-bottom: 30px;
    padding: 0;
  }

  .tab {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #f2f2f2;
    border-radius: 6px;
    margin-right: 10px;
  }
  .tab.active {
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
  }

  .tab:hover {
    background: #f2f2f2;
  }

  .tab-content {
    margin-right: 20px;
    p,ol{
      line-height: 30px;
      margin: 0 0 15px;
    }
   
    li{@include Robo300;
      list-style-type: decimal;
      list-style-position: inside;
    }
  }
  table {@include Robo300;
}
tr,td{   border: 1px solid rgba(233, 233, 233, 1);
padding: 10px ;}
td:nth-of-type(1){ width: 30%;}

}

@import "media.scss"