.first {
    margin: 0px;
    padding: 0px;
    width: 1200px;
}

.first ul {
    display: flex;
    padding-left: 0px;
}

.first a {
    color: green;
}

.first li {
    padding: 10px 62px;
    border-right: 4px solid red;
    list-style: none;
}

.first li:last-child {
    border: none;
}

/*  SECOND */

.second {
    width: 1200px;
    margin-top: 20px;
}

.second a {
    color: green;
    padding-left: 62px;
    margin: 0 auto;
}

.second a::after {
    content: '';
    border-right: 4px solid red;
    padding: 3px 30px 20px
}

.second a:last-child:after {
    content: none;
}