@media all and (max-width:870px){
    label p{float: none;}
    .title {
        margin-left: 0px;
    }
    select {
        display: block;
        margin-left: 0px;
    }
    .publication>span:first-child {
        margin-top: 8px;
        margin-left: 0px;
    }
    .publication>span{display: block;}
 
    }
}