

textarea, [type="text"]{
    width: 100%;
}
select{
    margin-left: 137px;
}
input, select, textarea{
   margin-bottom: 8px;
}
.publication>span:first-child{
    margin-left: 110px;
}
label p{float: left;
margin: 0px;}
.title{margin-left: 200px;}
